@model Exellent_Taste.Models.LoginModel
@using Microsoft.AspNetCore.Http
@{
    // set pagina naam
    ViewData["Title"] = "Login";
    //layout leeg maken
    Layout = "";
    // stuurt gebruiker naar home als die al ingeloged is
    var GebruikersId = Context.Session.GetString("GebruikersId");
    if (GebruikersId != null)
    {
        Context.Response.Redirect("/Home");

    }
}

<link href="~/css/Login.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="sidenav">
    <div class="login-main-text">
        <h2>Exellent Taste</h2>
        <p>Resevering -en Bestelling Systeem</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form role="form" asp-action="Login" asp-controller="Account" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="Email" asp-for="Email" autocomplete="off" class="form-control input-sm" placeholder="voorbeeld@exellent.taste">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Wachtwoord</label>
                    <input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" placeholder="Wachtwoord">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" value="Login" class="btn btn-black">Login</button>
            </form>
        </div>
    </div>
</div>