@model Exellent_Taste.Models.Reseveringen

@{
    ViewData["Title"] = "Resevering aanmaken";
}
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col">

            <div class="form-row">
                @Html.AntiForgeryToken()
                @Html.ValidationMessage("gekomenError")
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6">
                    <label asp-for="Voornaam" class="control-label"></label>
                    <input asp-for="Voornaam" class="form-control" />
                    <span asp-validation-for="Voornaam" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Achternaam" class="control-label"></label>
                    <input asp-for="Achternaam" class="form-control" />
                    <span asp-validation-for="Achternaam" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Telefoonnummer" class="control-label"></label>
                    <input asp-for="Telefoonnummer" class="form-control" />
                    <span asp-validation-for="Telefoonnummer" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Adress.Straat" class="control-label"></label>
                    <input asp-for="Adress.Straat" class="form-control" />
                    <span asp-validation-for="Adress.Straat" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Adress.Huisnummer" class="control-label"></label>
                    <input asp-for="Adress.Huisnummer" class="form-control" />
                    <span asp-validation-for="Adress.Huisnummer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Adress.Toevoeging" class="control-label"></label>
                    <input asp-for="Adress.Toevoeging" class="form-control" />
                    <span asp-validation-for="Adress.Toevoeging" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Adress.Stad" class="control-label"></label>
                    <input asp-for="Adress.Stad" class="form-control" />
                    <span asp-validation-for="Adress.Stad" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Adress.Land" class="control-label"></label>
                    <input asp-for="Adress.Land" class="form-control" />
                    <span asp-validation-for="Adress.Land" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Adress.Postcode" class="control-label"></label>
                    <input asp-for="Adress.Postcode" class="form-control" />
                    <span asp-validation-for="Adress.Postcode" class="text-danger"></span>
                </div>
            </div>



        </div>
        <div class="col">

            <div class="form-group">
                <label asp-for="Tafel" class="control-label"></label>
                <input asp-for="Tafel" class="form-control" />
                <span asp-validation-for="Tafel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aantal_Personen" class="control-label"></label>
                <input asp-for="Aantal_Personen" class="form-control" />
                <span asp-validation-for="Aantal_Personen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tijd" class="control-label"></label>
                <input asp-for="Tijd" class="form-control" />
                <span asp-validation-for="Tijd" class="text-danger"></span>
            </div>
        </div>

    </div>


    <div>
        <a asp-action="Index">Terug</a>
        <button type="submit" class="btn btn-primary">aanmaken</button>
    </div>
</form>